.fichas{
    width: 100vw;
    display: flex;
    font-size: 17px;
    flex-direction: column;
    margin-top: 2rem;
}

.botoes-treinos{
    display: flex;
    align-items: center;
    justify-content: center;
}

